{% extends 'Home/index.html' %}

{% block TITULO %}
    Contenido del Carrito
{% endblock TITULO %}

{% block CONTENIDO_STYLE %}
    Sitio en construcción, disculpe las molestias. <br>
    Estamos adquiriendo conocimientos para mejorar la página web. <br>
    Si deseas adquirir algún producto o servicio, no dudes en contactarnos. <br> <br>
    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="{% url 'tienda:contacto' %}">¡Contáctanos!</a></div>

{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}
    
    {% include 'Home/img.html' %}

{% endblock CONTENIDO_sSTYLE %}