{% extends 'Home/index.html' %}

{% block TITULO %}
    ¡Bienvenido a la tienda de Alas que Inspiran!
{% endblock TITULO %}

{% block CONTENIDO_STYLE %}

    {% if user.is_staff %}
        <div class="text-body"><a class="btn btn-outline-success mt-auto" href="{% url 'tienda:producto_list' %}">Todos los productos</a></div>
        <br>
        <div class="text-body"><a class="btn btn-outline-success mt-auto" href="{% url 'tienda:producto_create' %}">Crear un producto</a></div>
    
    {% elif user.is_authenticated %}
        <div class="text-body"><a class="btn btn-outline-success mt-auto" href="{% url 'tienda:producto_list' %}">Todos los productos</a></div>
    
    {% else %}
        Si desea comprar algún producto o contratar algún servicio, suscríbase en nuestra página. <br><br>
        <center>
        <div class="text-body"><a class="btn btn-outline-success mt-auto" href="{% url 'Home:register' %}">Registrarse</a></div>
        <br>
        <div class="text-body"><a class="btn btn-outline-warning mt-auto" href="{% url 'tienda:producto_list' %}">Todos los productos</a></div>
        </center>
    {% endif %}

{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}
{% endblock CONTENIDO_sSTYLE %}