{% extends 'Home/index.html' %}
{% load static %}

{% block CONTENIDO_sSTYLE %}
    <head>
        <link rel="stylesheet" href="{% static 'tienda/css/style4.css' %}">
    </head>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.imagen.url }}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">Categoría: {{ object.categoria }}</div>
                    <h1 class="display-5 fw-bolder">{{ object.nombre }}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{ object.precio }}</span>
                    </div>
                    <p class="lead">{{ object.descripcion }}</p>
                    <div class="d-flex"> 
                        {% if user.is_authenticated %}
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <!-- <button class="btn btn-outline-success flex-shrink-0" type="button" > -->
                            <a class="btn btn-outline-success" href="{% url 'tienda:carrito' %}">
                                <i class="bi-cart-fill me-1"></i> 
                                Añadir al Carro
                        {% else %}
                                <p class="text-body-secondary fst-italic ">
                                    Para comprar un producto, suscríbase a la página <br> <br>
                                    <a class="btn btn-outline-success" href="{% url 'Home:solicitud' %}"> Formulario de Suscripción</a>
                                </p>
                        {% endif %}
                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock CONTENIDO_sSTYLE %}

