{% extends 'Home/base.html' %}
{% load static %}

{% block HEADER %}
    {% include 'paisajismo/header.html' %}
{% endblock HEADER %}

{% block TITULO %}
    Paisajismo
{% endblock TITULO %}

{% block SUBTITULO %}
    <div class="text-success">Feng-Shui</div>
{% endblock SUBTITULO %}

{% block CONTENIDO_STYLE %}
    La asesoría Feng Shui Paisajismo es una técnica que se aplica en el exterior, ya sea en un jardín, 
    patio o cualquier espacio al aire libre, y cuyo objetivo es crear un entorno armonioso, que promueva 
    el equilibrio y el bienestar de las personas, en concordancia con la naturaleza en sus diferentes 
    expresiones. <br>
    Estos espacios exteriores asociados a nuestros hogares o viviendas, buscan recrear aquellos entornos 
    naturales donde podamos disfrutar no solo de esparcimiento y recreación, sino brindarnos un refugio 
    que aporte a nuestras vidas momentos de tranquilidad, reflexión y de todas esas otras actividades 
    más personales que no tenemos tiempo de realizar por el ritmo incansable que se desarrolla en las 
    ciudades. Es así que cada jardín se diseña no solo considerando características de luminosidad, 
    suelo, topografía, disponibilidad de agua y otras condiciones del entorno que determinan el tipo de 
    plantas y flores, sino que además juega un rol fundamental el objetivo y preferencias del solicitante,
     al que se suman los mensajes del Cielo y la Tierra, en sus expresiones más sutiles, y que hablan de 
     un propósito y sentido asociado a ese lugar. <br> <br>
    <center><div class="intro-button mx-auto"><a class="btn btn-success" href="{% url 'servicios:home' %}"> Volver a Servicios</div></a></center>
{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div><img class="img-fluid" src="{% static 'paisajismo/img/foto-1.jpg' %} " alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <p>
                            Para lograr que estos espacios exteriores estén en armonía con la energía 
                            circundante y promueva el equilibrio y el bienestar el Feng Shui considera 
                            diferentes aspectos, entre los que se encuentran: <br>
                            ⦁	Diseñar la puerta de entrada al jardín, que es un portal de transición 
                            desde el mundo exterior al jardín. <br>
                            ⦁	Incorporar el “Bagua del Cielo Anterior”, de forma de armonizar la 
                            energía y promover el bienestar del espacio a través de la resonancia con 
                            los ciclos y ritmos de la naturaleza. <br>
                            ⦁	Aplicar el Yin y Yang, que con sus luces y sombras aporte equilibrio en 
                            los diferentes lugares del jardín. <br>
                            ⦁	Equilibrar los cinco o agentes del Feng Shui (madera, fuego, tierra, 
                            metal y agua) apoyando las diferentes orientaciones. <br>
                            ⦁	Leer e Incorporar los Mensajes del Cielo y la Tierra. <br>
                            ⦁	Incluir espacios despejados que apoyen la reflexión y paz interior. <br>
                            ⦁	Incorporar elementos, plantas u otros objetos, que son sus formas, 
                            colores, texturas o materialidad apoyen las diferentes zonas u orientaciones 
                            del espacio. <br>
                            ⦁	Utilizar elementos decorativos que tengan un significado personal o 
                            cultural para el consultante, ya sea esculturas, piedras o arte en el jardín 
                            que pueden agregar capas de energía positiva. <br>
                            ⦁	Diseñar senderos que apoyen el movimiento de la energía por los 
                            diferentes sectores del jardín de manera natural suave. <br>
                            ⦁	Incorporar elementos de agua al espacio, que apoye el fluir armónico de 
                            la energía.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div><img class="img-fluid" src="{% static 'paisajismo/img/foto-2.png' %}" alt="..."/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <p>
                            En esta asesoría se desarrolla en forma conjunta con el profesional que está 
                            diseñando el paisajismo del jardín o espacio exterior, aportando desde la 
                            mirada del Feng Shui los aspectos para promover la conexión y sincronía con 
                            el cosmos con la aplicación de los aspectos señalados anteriormente. <br>
                            Esta asesoría es presencial e incluye lo siguiente: <br> <br>
                            ⦁	Visita inicial de 30 minutos para recopilar antecedentes y tomar medidas 
                            con el luopan (instrumento específico usado en Feng Shui) de forma de 
                            establecer con precisión los puntos cardinales y orientaciones del espacio 
                            objeto del estudio. <br>
                            ⦁	Informe escrito del estudio Feng Shui que incluye recomendaciones para 
                            las distintas orientaciones, mensaje de Cielo y la Tierra. <br>
                            ⦁	Asesoría presencial en el hogar por alrededor de 2 horas, donde además de
                             explicar el informe de estudio se pueden resolver consultas y preguntas. <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p class="mb-0">
                            Para realizar esta asesoría se requiere disponer de los siguientes 
                            antecedentes previos del lugar en donde se efectuará la asesoría: <br>
                            ⦁	Dirección completa. <br>
                            ⦁	Croquis o diagrama con la/s propuesta/s de diseño presentado por el 
                            profesional del paisajismo. <br>
                            ⦁	Plano del terreno, que incluya la vivienda y todo el terreno que 
                            conforma la propiedad, considerando el ingreso o matriz de llegada del agua 
                            al lugar, identificando claramente la orientación norte. <br>
                            ⦁	Fotos de los espacios exteriores. <br> <br>
                            {% include 'hogar/back_carrito.html' %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock CONTENIDO_sSTYLE %}



