{% load static %}
<!-- 
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">One Page Wonder</h1>
                    <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header> -->

        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="un-valor"><img class="img-fluid rounded-circle" src="{% static 'Home/img/index-1.png' %} " alt="..."/></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-7">Acerca del Feng-Shui</h2>
                            <p class="text-body fst-italic">
                                <div class="texto-magenta">
                                    “El Feng Shui es el arte de la intimidad con el alma de tus espacios” <br>
                                    (Feng Shui en el Hemisferio Sur, Sylvia Galleguillos). <br>
                                </div>
                                <br>
                                El Feng Shui es una antigua práctica china que tiene sus raíces en la 
                                filosofía taoísta y el pensamiento chino tradicional. Su origen se 
                                remonta a miles de años atrás, y su evolución ha sido moldeada por 
                                diversas culturas y tradiciones a lo largo del tiempo. <br>
                                Si bien no hay un único punto de origen del Feng Shui, se considera 
                                que sus fundamentos fueron desarrollados durante la dinastía Zhou en 
                                China, hace más de 3,000 años. En esa época, el conocimiento sobre el 
                                flujo de la energía en la naturaleza y cómo afecta a la vida cotidiana
                                 comenzó a tomar forma.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="un-valor"><img class="img-fluid rounded-circle" src="{% static 'Home/img/index-2.png' %}" alt="..."/></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-7">Acerca del Feng-Shui</h2>
                            <p class="text-body fst-italic">
                                El Feng Shui originalmente estaba vinculado a la observación y el 
                                estudio de la naturaleza y sus ciclos. Se basaba en la idea de que el
                                 ambiente y la energía circundante tenían un impacto directo en la 
                                 vida y el bienestar de las personas. Los antiguos chinos observaron 
                                 patrones naturales como montañas, ríos, vientos y estaciones, y 
                                 desarrollaron métodos para comprender cómo estos elementos influían 
                                 en la energía, conocida como "Qi". <br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="un-valor"><img class="img-fluid rounded-circle" src="{% static 'Home/img/index-3.png' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-7">Acerca del Feng-Shui</h2>
                            <p class="text-body fst-italic">
                                Toda esta comprensión de las leyes de la naturaleza se fue aplicando 
                                a la ocupación consciente y armónica de los espacios interiores, 
                                con el fin de atesorar y armonizar el flujo de energía de ese entorno 
                                para promover el bienestar, la prosperidad y la armonía en la vida de 
                                las personas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 4-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="un-valor"><img class="img-fluid rounded-circle" src="{% static 'Home/img/index-4.jpg' %}" alt="..."/></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-7">Acerca del Feng-Shui</h2>
                            <p class="text-body fst-italic">
                                El Feng Shui se enfoca en la disposición y diseño de los espacios, 
                                como hogares y lugares de trabajo, teniendo en cuenta factores como 
                                la orientación, la distribución del mobiliario, los colores, las 
                                formas, la iluminación y la ubicación de objetos decorativos; así 
                                como el entorno y la ubicación de edificios y estructuras que pueden 
                                estar impactando negativamente los espacios que habitamos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

