{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link {% if request.path == "/" %} activate{% endif %}" aria-current="page" href="{% url 'Home:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link {% if request.path == "/servicios/" %} activate{% endif %}" href="{% url 'servicios:home' %}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == "/tienda/" %} activate{% endif %}" href="{% url 'tienda:home' %}">Tienda</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == "/tienda/" %} activate{% endif %}" href="{% url 'tienda:carrito' %}">Carrito</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="#!">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'Home:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link {% if request.path == "/about/" %} activate{% endif %}" href="{% url 'about:home' %}">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == "/servicios/" %} activate{% endif %}" href="{% url 'servicios:home' %}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == "/tienda/" %} activate{% endif %}" href="{% url 'tienda:home' %}">Tienda</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'Home:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>