{% extends 'Home/index.html' %}
{% load static %}

{% block CONTENIDO_STYLE %}
    {{ actualizacion_avatar }}
{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    {% if user.ImagenPerfil.avatar.url %}
                        <div class="p-5"> <img src="{{ user.ImagenPerfil.avatar.url }}" alt="avatar"></div>
                    {% else %}
                        <div class="p-5"> <img src="{% static 'Home/img/predeterminado.png' %}" alt="avatar"></div>
                    {% endif %}
                    {% if user.is_staff %}
                        <center>
                            <div class="text-body"><a class="btn btn-outline-info mt-auto" href="{% url 'admin:index' %}">Cambiar Avatar</a></div>
                        </center>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Bienvenido a su Perfil {{ user.username }}</h2>
                        <h5 class="texto-verde"><u> Datos de la cuenta </u></h5> 
                        Usuario: {{ user.username }} <br>
                        Correo: {{ user.email }} <br>
                        <br>
                        <b class="texto-verde"> Tipo de cuenta: </b>
                        {% if user.is_staff %}
                            Administrador <br>
                            Acceso a toda la página web
                        {% elif user.is_authenticated %}
                            Suscriptor <br>
                            <b>Acceso a</b>  <br>
                            - Tienda para compra de productos 
                            <div class="text-body"><a class="btn btn-outline-primary mt-auto" href="{% url 'tienda:home' %}">Tienda</a></div>
                            <br>
                            - Servicios para comprar alguna asesoría 
                            <div class="text-body"><a class="btn btn-outline-success mt-auto" href="{% url 'servicios:home' %}">Servicios</a></div>
                            <br>
                            - Contacto para aclarar tus dudas con el Administrador
                            <div class="text-body"><a class="btn btn-outline-info mt-auto" href="{% url 'tienda:contacto' %}">¡Contáctanos!</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock CONTENIDO_sSTYLE %}

