{% extends 'Home/base.html' %}
{% load static %}

{% block HEADER %}
    {% include 'empresa/header.html' %}
{% endblock HEADER %}

{% block TITULO %}
    Asesoría a Empresas
{% endblock TITULO %}

{% block SUBTITULO %}
    <div class="text-success">Feng-Shui</div>
{% endblock SUBTITULO %}

{% block CONTENIDO_STYLE %}
    La asesoría Feng Shui Laboral es una práctica que busca optimizar el ambiente y la energía en el lugar 
    de trabajo para mejorar la productividad, y crecimiento del negocio, potenciando el desempeño de cada 
    persona que cumple un rol dentro de este espacio. 
    <center><div class="intro-button mx-auto"><a class="btn btn-success" href="{% url 'servicios:home' %}"> Volver a Servicios</div></a></center>
{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div><img class="img-fluid" src="{% static 'empresa/img/asesoria-empresa1.jpg' %} " alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-8">Algunos aspectos que se abordan</h2>
                        <h5 class="texto-magenta">Ubicación y entorno del lugar</h5>
                            ⦁	Puerta de ingreso. <br>
                            ⦁	Distribución de los espacios interiores, oficinas, recepción, bodegas, áreas comunes y lugares donde se realizan las diferentes actividades considerando las funciones del personal. <br>
                            ⦁	Disposición y características específicas del mobiliario y otros objetos o elementos presentes. <br>
                            ⦁	Iluminación de los diferentes ambientes. <br>
                            ⦁	Bloqueos en las diferentes áreas, producidos por acumulación de objetos, desorden, desperfectos. <br>
                            ⦁	Estudio de las orientaciones favorables para el personal de forma de favorecer su desempeño laboral y mirada holística dentro de la empresa o negocio.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div><img class="img-fluid" src="{% static 'empresa/img/asesoria-empresa2.jpg' %}" alt="..."/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h5 class="texto-magenta">Esta asesoría incluye</h5>
                        <p>
                        ⦁	Informe escrito del estudio Feng Shui en un plazo máximo de dos a tres semanas. <br>
                        ⦁	Recomendaciones en los diferentes espacios u oficinas en atención a su orientación y función. <br>
                        ⦁	Estudio con las orientaciones favorables para cada trabajador de la empresa o negocio. <br>
                        ⦁	Soluciones a los bloqueos energéticos detectados.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p class="mb-0">
                            Para realizar esta asesoría se requiere disponer de los siguientes antecedentes previos del lugar en donde se efectuará la asesoría: <br>
                            ⦁	Dirección completa. <br>
                            ⦁	Rubro o giro de la empresa o negocio. <br>
                            ⦁	Plano arquitectónico, identificando claramente la orientación norte y las diferentes dependencias que lo conforman. <br>
                            ⦁	Fotos de la entrada y de los diferentes espacios. <br>
                            ⦁	Nombre y fecha de nacimiento de las personas que trabajan en el lugar. <br> <br>
                        </p>
                        {% include 'hogar/back_carrito.html' %}
                    </div>
                </div>
            </div>

        </div>
    </section>


    
{% endblock CONTENIDO_sSTYLE %}



