{% extends 'Home/base.html' %}
{% load static %}

{% block HEADER %}
    {% include 'pilares/header.html' %}
{% endblock HEADER %}

{% block TITULO %}
    4 Pilares
{% endblock TITULO %}

{% block SUBTITULO %}
    <div class="text-success">Feng-Shui</div>
{% endblock SUBTITULO %}

{% block CONTENIDO_STYLE %}
    La Asesoría de los Cuatro Pilares del Destino, también conocida como BaZi, es una práctica basada en 
    la astrología china que busca analizar y comprender la influencia de los astros en la vida de una 
    persona. BaZi significa "ocho caracteres" en chino, que se refiere a los cuatro pilares que componen 
    la carta astral de una persona: año, mes, día y hora de nacimiento. <br> <br>
    <center><div class="intro-button mx-auto"><a class="btn btn-success" href="{% url 'servicios:home' %}"> Volver a Servicios</div></a></center>
{% endblock CONTENIDO_STYLE %}

{% block CONTENIDO_sSTYLE %}

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div><img class="img-fluid" src="{% static 'pilares/img/4pilares-1.jpg' %} " alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <!-- <h2 class="display-4">Modalidad Presencial</h2>
                        <p class="lead text-success">Opción A</p> -->
                        <p>
                            A través del análisis de estos cuatro pilares, los expertos en BaZi pueden 
                            proporcionar una visión detallada de la personalidad, fortalezas, debilidades, 
                            potencial de éxito y desafíos de una persona. Esta asesoría se centra en el 
                            destino y las características innatas de la persona, basándose en la creencia de 
                            que cada individuo tiene un destino único que está influenciado por el momento de 
                            su nacimiento. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div><img class="img-fluid" src="{% static 'pilares/img/4pilares-2.jpg' %}" alt="..."/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <!-- <h2 class="display-4">Modalidad Presencial</h2>
                        <p class="lead text-success">Opción B</p> -->
                        <p>
                            Es importante tener en cuenta que la asesoría de los Cuatro Pilares del Destino
                             no busca predecir el futuro, sino más bien proporcionar una guía para 
                             comprender el potencial y las tendencias presentes en la vida de una persona. 
                             También se enfoca en la toma de responsabilidad y el empoderamiento personal, 
                             ya que cada individuo tiene la capacidad de tomar decisiones y acciones que 
                             influyen en su destino.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section>
        <div class="contenedor">
            <center>
                <img class="imagen" src="{% static 'pilares/img/collage-1.jpg' %}">
                <img class="imagen" src="{% static 'pilares/img/collage-2.jpg' %}">
                <img class="imagen" src="{% static 'pilares/img/collage-3.jpg' %}">
                <img class="imagen" src="{% static 'pilares/img/collage-4.jpg' %}">
                <img class="imagen" src="{% static 'pilares/img/collage-5.jpg' %}">
            </center>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="mb-0">
                        Al final de la asesoría se entregará un estudio completo de los 4 Pilares del 
                        Destino, el que incluye recomendaciones para abordar los desafíos y el logro 
                        de objetivos y metas en el ámbito personal y laboral. <br>
                        Para realizar la asesoría se requiere disponer en forma previa de la 
                        siguiente información: <br>
                        ⦁	Hora de nacimiento. <br>
                        ⦁	Fecha de nacimiento. <br>
                        ⦁	Lugar de nacimiento <br> <br>
                        {% include 'hogar/back_carrito.html' %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        
    </section>
    
{% endblock CONTENIDO_sSTYLE %}



